spring:
  application:
    name: docweave-api

  # Servlet
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  # DB
  datasource:
    url: jdbc:postgresql://localhost:5433/docweave
    username: postgres
    password: dlwhdrb1234
    driver-class-name: org.postgresql.Driver

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # AI
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        model: llama3.2
        options:
          temperature: 0.1
          top-p: 0.9
      embedding:
        model: bge-m3

    vectorstore:
      pgvector:
        initialize-schema: true
        index-type: hnsw
        dimensions: 1024

server:
  port: 8080

# CORS
docweave:
  cors:
    allowed-origins: "http://localhost:5173"