spring:
  application:
    name: docweave-api

  # DB
  datasource:
    url: jdbc:postgresql://localhost:5433/docweave
    username: postgres
    password: dlwhdrb1234
    driver-class-name: org.postgresql.Driver

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # AI
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        model: llama3.2:1b
        options:
          temperature: 0.7

server:
  port: 8080

# CORS
docweave:
  cors:
    allowed-origins: "http://localhost:5173"